<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cc.mybatisplus.dao.UserMapper">
    <select id="selectAll" resultType="com.cc.mybatisplus.entity.User">
        select * from user ${ew.customSqlSeqment}
    </select>
</mapper>